{% extends "main/sidebar.html" %}

{% block content %}
    <v-container fill-height fluid>
        <v-layout row>
            <v-flex xs12>
                <h1>Contacto</h1>
            </v-flex>
        </v-layout>
        <v-layout>
            <p>Si requieres asistencia contacta a:</p>
            <v-icon>email_outline</v-icon>
            <a id="contact_email" href="mailto: soporte@incidencias.tecmm.edu.mx">soporte@incidencias.tecmm.edu.mx</a>
        </v-layout>
    </v-container>
{% endblock %}