{% extends "main/sidebar.html" %}

{% block content %}

    <h1>Incidencias</h1>

    <!-- Spacer -->
    <v-container>
        <v-layout></v-layout>
    </v-container>

    <v-layout wrap>
        <v-flex xs12 class="mb-3">
            <v-sheet height="500">
                <v-calendar
                    ref="calendar"
                    v-model="start"
                    :type="type"
                    :end="end"
                    color="primary"
                >
                    <template v-slot:day="{ date }">
                        <template v-for="incidence in incidencesMap[date]">
                            <v-menu
                                :key="incidence.incidence_type"
                                v-model="incidence.window_state"
                                full-width
                                offset-x
                            >
                                <template v-slot:activator="{ on }">
                                <div
                                    v-if="!incidence.time"
                                    v-ripple
                                    class="incidence_event"
                                    v-on="on"
                                    v-html="incidence.incidence_type"
                                ></div>
                                </template>
                                <v-card
                                color="grey lighten-4"
                                min-width="350px"
                                flat
                                >
                                <v-toolbar
                                    color="primary"
                                    dark
                                >
                                    <v-btn icon>
                                    <v-icon>edit</v-icon>
                                    </v-btn>
                                    <v-toolbar-title v-html="incidence.incidence_type"></v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-btn icon>
                                    <v-icon>favorite</v-icon>
                                    </v-btn>
                                    <v-btn icon>
                                    <v-icon>more_vert</v-icon>
                                    </v-btn>
                                </v-toolbar>
                                <v-card-title primary-title>
                                    <span v-html="incidence.description"></span>
                                </v-card-title>
                                <v-card-actions>
                                    <v-btn
                                    flat
                                    color="secondary"
                                    >
                                    Cancel
                                    </v-btn>
                                </v-card-actions>
                                </v-card>
                            </v-menu>
                        </template>
                    </template>
                </v-calendar>
            </v-sheet>
        </v-flex>
        <v-flex sm4 xs12 class="text-sm-left text-xs-center">
            <v-btn @click="$refs.calendar.prev()">
                <v-icon dark left>keyboard_arrow_left</v-icon>
                Prev
            </v-btn>
        </v-flex>
        <v-flex sm8 xs12 class="text-sm-right text-xs-center">
            <v-btn @click="$refs.calendar.next()">
                Next
                <v-icon right dark>
                    keyboard_arrow_right
                </v-icon>
            </v-btn>
        </v-flex>
    </v-layout>

{% endblock %}