{% extends 'base_login_register.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <v-form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <!--<v-text-field required prepend-icon="person_outline" name="login" label="Usuario"
                      type="text" :counter="15"></v-text-field>
        <v-text-field id="password" required prepend-icon="lock_outline" name="password"
                      label="Password"
                      type="password" :counter="15"></v-text-field>
        -->
        <div class="form-group">
            <v-btn id="login_button" color="#C94545" type="submit"
                   class="btn active mt-3">Ingresar
            </v-btn>
            <v-btn id="register_button" color="#C94545" href="/register/" outline
                   class="btn active mt-3">Registrar
            </v-btn>
        </div>
    </v-form>
{% endblock %}