{% extends 'base_login_register.html' %}
{% block content %}
    <form method="POST">
        {% if messages %}
            {% for mesage in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <fieldset class="form-group">
            {% load crispy_forms_tags %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <v-btn id="register_button" color="#C94545" type="submit"
               class="btn active mt-3">Registrar
            </v-btn>
            <v-btn id="register_button" color="#C94545" href="/login/" outline
                   class="btn active mt-3">Volver al inicio
            </v-btn>
        </div>
    </form>
{% endblock %}
