#rectangle {
    background-color: #C94545;
}

#login_button {
    background-color: #C94545;
    color: white;
}

#register_button {
    background-color: #C94545;
    color: white;
}

#contact_email {
    color: white;
    text-decoration: underline;
}